/* FONT */
@font-face {
  font-family: 'SF Regular';
  src: url(../assets/fonts/SF-UI-Display-Regular.otf);
  src: url(../assets/fonts/SF-UI-Display-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'SF Medium';
  src: url(../assets/fonts/SF-UI-Display-Medium.otf);
  src: url(../assets/fonts/SF-UI-Display-Medium.otf) format("opentype");
}

@font-face {
  font-family: 'SF Text Regular';
  src: url(../assets/fonts/SF-UI-Text-Regular.otf);
  src: url(../assets/fonts/SF-UI-Text-Regular.otf) format("opentype");
}

/* body use this font */
@font-face {
  font-family: 'SF Text Medium';
  src: url(../assets/fonts/SF-UI-Text-Medium.otf);
  src: url(../assets/fonts/SF-UI-Text-Medium.otf) format("opentype");
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url(../assets/fonts/Gotham-Ultra.otf);
  src: url(../assets/fonts/Gotham-Ultra.otf) format("opentype");
}

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'SF Text Regular';
}

body {
  padding-top: 76px;
}

.main-container-940 {
  max-width: 940px;
  float: none;
  margin: auto;
  clear: both;
}

.viewMore {
  font-size: 14px;
  color: #949494;
  font-family: "SF Regular";
  border: 1px solid #949494;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
  padding: 7px 25px;
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: all 0.2s;
}

.viewMore:hover {
  color: #fff;
  background-color: #fb4226;
  border: 1px solid #fb4226;
}

.viewMore:focus {
  outline: none;
}

.left__button {
  background-color: #fb4226;
  padding: 10px 20px;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

.left__button:focus {
  outline: none;
}

header {
  font-family: "SF Regular";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 76px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

header .logo img {
  width: 50px;
  height: 50px;
}

header .header__center li {
  margin-right: 20px;
}

header .header__center a {
  font-size: 14px;
  color: #000;
  transition: all .2s;
  text-decoration: none;
}

header .header__center a:hover {
  color: #ff0000;
}

header .header__right .header__account {
  padding-right: 10px;
  margin-right: 10px;
  border-right: solid 1px #9b9b9b;
  display: flex;
}

header .header__right .header__account i {
  font-size: 25px;
  color: #9b9b9b;
  margin-right: 10px;
}

header .header__right .header__account a {
  font-size: 14px;
  text-decoration: none;
  line-height: 25px;
  color: #9b9b9b;
}

header .header__right .header__location {
  min-width: 160px;
}

header .header__right .header__location .header__iconMap {
  font-size: 19px;
  color: #9b9b9b;
  margin-top: 3px;
}

header .header__right .header__location .header__dropdownSelected {
  font-size: 13px;
  text-decoration: none;
  line-height: 25px;
  position: relative;
  bottom: 2px;
  color: #9b9b9b;
}

header .header__right .header__location .header__drowdownBtn {
  position: absolute;
  right: 15px;
}

header .header__right .header__location .header__drowdownBtn i {
  color: #9b9b9b;
}

header .header__right .header__location .header__dropdownMenu {
  display: none;
  position: absolute;
  top: 52px;
  right: 14px;
  z-index: 3;
  width: 160px;
  padding: 5px 10px;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

header .header__right .header__location .header__dropdownMenu::-webkit-scrollbar {
  width: 5px;
}

header .header__right .header__location .header__dropdownMenu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

header .header__right .header__location .header__dropdownMenu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

header .header__right .header__location .header__dropdownItem {
  color: #000;
  text-decoration: none;
  display: block;
  font-size: 14px;
  animation: all 0.5s;
}

header .header__right .header__location .header__dropdownItem:hover {
  background-color: #60c5ef;
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: #222;
  color: #949494;
}

footer .footer__title {
  color: #fff;
  font-size: 11.2px;
}

footer .footer__block1 {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .footer__block1 .footer__FAQ a {
  color: #949494;
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
  display: block;
  transition: all .2s;
  line-height: 2.3;
}

footer .footer__block1 .footer__FAQ a:hover {
  color: #fff;
}

footer .footer__block1 .footer__partner a {
  padding-top: 10px;
}

footer .footer__block1 .footer__partner a:first-child {
  padding-top: 0px;
}

footer .footer__block1 .footer__partner img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

footer .footer__block1 .footer__partner .row {
  margin-top: 10px;
}

footer .footer__block1 .footer__application img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

footer .footer__block1 .footer__social {
  text-align: center;
}

footer .footer__block1 .footer__social img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

footer .footer__block2 {
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: solid 1px #949494;
}

footer .footer__block2 .footer__block2-left {
  padding-left: 0px;
}

footer .footer__block2 .footer__block2-left img {
  width: 80px;
  height: 37px;
  border-radius: 10px;
}

footer .footer__block2 .footer__block2-right img {
  width: 130px;
  height: 47px;
}

footer .footer__block2 .footer__block2-center a {
  color: #ff0000;
}

footer .footer__block2 .footer__block2-center .footer__block2-infor {
  color: #949494;
  font-size: 12px;
  font-weight: normal;
  line-height: 0.5;
}

/* CAROUSEL */
.carousel {
  position: relative;
  width: 100%;
  /* override owl carousel library*/
}

.carousel .carousel__item {
  width: 100%;
}

.carousel .carousel__item img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 560px;
}

.carousel .carousel__itemIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel .carousel__itemIcon i {
  font-size: 25px;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 50%;
  padding: 25px 25px 25px 29px;
  font-weight: bold;
}

.carousel .owl-carousel .animated {
  animation-duration: 2000ms;
  animation-fill-mode: both;
}

.carousel .owl-theme .owl-dots {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel .owl-theme .owl-dots span {
  background: #9b9b9b;
  width: 13px;
  height: 13px;
}

.carousel .owl-theme .owl-dot.active span {
  background: #ff0000;
}

.carousel .carousel__prev {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 1;
  cursor: pointer;
}

.carousel .carousel__prev img {
  width: 40px;
  height: 40px;
}

.carousel .carousel__next {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 1;
  cursor: pointer;
}

.carousel .carousel__next img {
  width: 40px;
  height: 40px;
}

.movieList .movieList-carousel-title {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
  list-style: none;
}

.movieList .movieList-carousel-title .movieList-text-title {
  padding: 5px;
}

.movieList .movieList-carousel-title .movieList-text-title a {
  text-decoration: none;
  font-family: "SF Medium";
  color: #000;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  height: 24px;
  transition: all 0.2s;
}

.movieList .movieList-carousel-title .movieList-text-title:hover a {
  color: #000;
  font-size: 24px;
  font-weight: normal;
}

.movieList .movieList-carousel-title .movieList-text-title.active a {
  color: #fa5238;
  font-size: 20px;
  font-weight: normal;
}

.news #homeNews {
  padding-top: 120px;
}

.news #homeNews .nav-tabs {
  border-bottom: none;
  margin-bottom: 0;
}

.news #homeNews .nav-tabs .nav-link {
  border: none;
  background-color: transparent;
  color: #000;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  height: 24px;
  font-family: "SF Medium";
  display: block;
  transition: all 0.2s;
}

.news #homeNews .nav-tabs .nav-link:hover {
  font-size: 24px;
}

.news #homeNews .nav-tabs .nav-link.active {
  color: #fa5238;
  font-size: 24px;
  cursor: default;
}

.news #homeNews #myNewsContent {
  padding-top: 30px;
}

.news #homeNews #myNewsContent .news__col {
  margin-bottom: 20px;
  padding: 0 7px;
}

.news #homeNews #myNewsContent .news__col .news__image {
  margin-bottom: 10px;
  overflow: hidden;
}

.news #homeNews #myNewsContent .news__col .news__image img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.news #homeNews #myNewsContent .news__col .news__title {
  color: #000;
  text-decoration: none;
  transition: all 0.2s;
}

.news #homeNews #myNewsContent .news__col .news__title p {
  line-height: 20px;
  font-family: "SF Medium";
  font-weight: normal;
  height: 42px;
  font-size: 16px;
  margin-bottom: 5px;
}

.news #homeNews #myNewsContent .news__col .news__title:hover {
  color: #fa5238;
}

.news #homeNews #myNewsContent .news__col .news__description {
  text-align: justify;
  font-size: 13px;
  color: #4a4a4a;
  font-family: "SF Regular";
  padding: 0 5px 0 0;
  line-height: 19px;
  height: 55px;
  margin-bottom: 15px;
}

.news #homeNews #myNewsContent .news__col .news__icons .wrapIcon {
  display: inline-block;
  margin-right: 25px;
}

.news #homeNews #myNewsContent .news__col .news__icons .wrapIcon a {
  text-decoration: none;
}

.news #homeNews #myNewsContent .news__col .news__icons .wrapIcon a img {
  margin-right: 10px;
  margin-top: 2px;
  width: 18px;
  transition: all 0.2s;
}

.news #homeNews #myNewsContent .news__col .news__icons .wrapIcon a p {
  display: inline-block;
  color: #bbb;
  font-size: 12px;
  line-height: 1;
}

.news #homeNews #myNewsContent .news__col .news__icons .wrapIcon a:hover img {
  transform: scale(1.1);
}

.news #homeNews #myNewsContent .news__small {
  margin-bottom: 20px;
}

.news #homeNews #myNewsContent .news__small .news__image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
}

.news #homeNews #myNewsContent .news__small .news__title p {
  opacity: 0.7;
  font-family: "SF Regular";
}

.news #homeNews #myNewsContent .news__col:nth-child(1),
.news #homeNews #myNewsContent .news__col:nth-child(2) {
  width: 50%;
}

.news #homeNews #myNewsContent .news__col:nth-child(3),
.news #homeNews #myNewsContent .news__col:nth-child(4),
.news #homeNews #myNewsContent .news__col:nth-child(5) {
  width: calc(100%/3);
}

.news #homeNews #myNewsContent .SeeMoreNews {
  width: 100%;
  margin-bottom: 35px;
}

.banner {
  background-image: url(../assets/img/img-banner/backapp.jpg);
  padding: 120px 0 80px 0;
  background-size: contain;
}

.banner .left {
  padding-top: 60px;
  color: #fff;
}

.banner .left .left__text {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

.banner .left .left__description {
  margin-bottom: 10px;
}

.banner .left .left__apps {
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.banner .left .left__apps a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.banner .right {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.banner .right .phone-img {
  display: block;
  padding: 0 28%;
  max-width: 100%;
  height: auto;
}

.banner .right #banner__carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 2%;
  padding-left: 29.3%;
  padding-right: 29.3%;
  padding-bottom: 0%;
}

.banner .right #banner__carousel .banner__carouselItem img {
  display: block;
  width: 100%;
  border-radius: 20px;
}

.movieList .movieList-carousel .nav-tabs {
  border-bottom: none;
  margin-bottom: 30px;
  margin-top: 60px;
}

.movieList .movieList-carousel .nav-tabs .nav-link {
  border: none;
  background-color: transparent;
  color: #000;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  height: 24px;
  font-family: "SF Medium";
  display: block;
  transition: all 0.2s;
}

.movieList .movieList-carousel .nav-tabs .nav-link:hover {
  font-size: 24px;
}

.movieList .movieList-carousel .nav-tabs .nav-link.active {
  color: #fa5238;
  font-size: 24px;
  cursor: default;
}

.movieList #myTabContent {
  padding-top: 30px;
}
/*# sourceMappingURL=main.css.map */