/* FONT */
@font-face {
  font-family: 'SF Regular';
  src: url(../assets/fonts/SF-UI-Display-Regular.otf);
  src: url(../assets/fonts/SF-UI-Display-Regular.otf) format("opentype");
}

@font-face {
  font-family: 'SF Medium';
  src: url(../assets/fonts/SF-UI-Display-Medium.otf);
  src: url(../assets/fonts/SF-UI-Display-Medium.otf) format("opentype");
}

@font-face {
  font-family: 'SF Text Regular';
  src: url(../assets/fonts/SF-UI-Text-Regular.otf);
  src: url(../assets/fonts/SF-UI-Text-Regular.otf) format("opentype");
}

/* body use this font */
@font-face {
  font-family: 'SF Text Medium';
  src: url(../assets/fonts/SF-UI-Text-Medium.otf);
  src: url(../assets/fonts/SF-UI-Text-Medium.otf) format("opentype");
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url(../assets/fonts/Gotham-Ultra.otf);
  src: url(../assets/fonts/Gotham-Ultra.otf) format("opentype");
}

/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'SF Text Regular';
}

body {
  padding-top: 76px;
}

.main-container-940 {
  max-width: 940px;
  float: none;
  margin: auto;
  clear: both;
}

.viewMore {
  font-size: 14px;
  color: #949494;
  font-family: "SF Regular";
  border: 1px solid #949494;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
  padding: 7px 25px;
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: all 0.2s;
}

.viewMore:hover {
  color: #fff;
  background-color: #fb4226;
  border: 1px solid #fb4226;
}

.viewMore:focus {
  outline: none;
}

.left__button {
  background-color: #fb4226;
  padding: 10px 20px;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 4px;
}

.left__button:focus {
  outline: none;
}

header {
  font-family: "SF Regular";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 76px;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-bottom: 20px;
}

header .logo {
  width: 50px;
  height: 50px;
}

header .logo img {
  object-fit: cover;
  object-position: top;
  display: block;
  height: 100%;
  width: 100%;
}

header .header__center {
  display: flex;
  align-items: center;
}

header .header__center a {
  font-size: 14px;
  color: #000;
  transition: all .2s;
  text-decoration: none;
  padding-right: 10px;
}

header .header__center a:hover {
  color: #ff0000;
}

header .header__right {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

header .header__right .header__account {
  padding-right: 10px;
  margin-right: 10px;
  border-right: solid 1px #9b9b9b;
  display: flex;
  align-items: center;
}

header .header__right .header__account i {
  font-size: 25px;
  color: #9b9b9b;
  margin-right: 10px;
}

header .header__right .header__account a {
  font-size: 14px;
  text-decoration: none;
  line-height: 25px;
  color: #9b9b9b;
}

header .header__right .header__location {
  min-width: 160px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

header .header__right .header__location .header__iconMap {
  font-size: 25px;
  color: #9b9b9b;
  margin-right: 10px;
}

header .header__right .header__location .header__dropdownSelected {
  font-size: 14px;
  text-decoration: none;
  color: #9b9b9b;
}

header .header__right .header__location .header__drowdownBtn {
  margin-left: auto;
}

header .header__right .header__location .header__drowdownBtn i {
  color: #9b9b9b;
}

header .header__right .header__location .header__dropdownMenu {
  display: none;
  position: absolute;
  top: 76px;
  z-index: 3;
  width: 160px;
  padding: 5px 10px;
  font-size: 14px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  max-height: 300px;
  overflow: hidden;
  overflow-y: auto;
}

header .header__right .header__location .header__dropdownMenu::-webkit-scrollbar {
  width: 5px;
}

header .header__right .header__location .header__dropdownMenu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

header .header__right .header__location .header__dropdownMenu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

header .header__right .header__location .header__dropdownItem {
  color: #000;
  text-decoration: none;
  display: block;
  font-size: 14px;
  animation: all 0.5s;
}

header .header__right .header__location .header__dropdownItem:hover {
  background-color: #60c5ef;
  color: #fff;
  text-decoration: none;
}

header .header__right--mobile {
  width: 25px;
  height: 15px;
  margin-right: 20px;
}

header .header__right--mobile img {
  object-fit: cover;
  object-position: top;
  display: block;
  height: 100%;
  width: 100%;
}

#menuHeaderMobile .menuItem {
  padding: 20px 20px;
}

#menuHeaderMobile .menuItem i {
  font-size: 25px;
  color: #9b9b9b;
  margin-right: 10px;
}

#menuHeaderMobile .menuItem a {
  font-size: 19px;
  text-decoration: none;
  line-height: 25px;
  color: #9b9b9b;
}

#menuHeaderMobile .menuItem .backIcon {
  cursor: pointer;
}

#menuHeaderMobile.right .modal-dialog {
  position: fixed;
  margin: auto;
  transform: translate3d(0%, 0, 0);
}

#menuHeaderMobile.right .modal-content {
  height: 100%;
}

#menuHeaderMobile.right.fade .modal-dialog {
  right: -320px;
  transition: opacity 0.3s linear, right 0.3s ease-out;
}

#menuHeaderMobile.right.fade.show .modal-dialog {
  right: 0px;
  width: 70%;
  height: 100%;
}

#headerLocationModal .modal-body {
  padding: 0px;
}

#headerLocationModal .locationModal {
  width: 100%;
  padding: 20px 20px;
  font-size: 19px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  max-height: 700px;
  overflow: hidden;
  overflow-y: auto;
}

#headerLocationModal .locationModal::-webkit-scrollbar {
  width: 5px;
}

#headerLocationModal .locationModal::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#headerLocationModal .locationModal::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#headerLocationModal .locationModal__item {
  color: #000;
  text-decoration: none;
  display: block;
  font-size: 16px;
  animation: all 0.5s;
  text-align: center;
  border-bottom: 1px solid #ebebec;
  padding-top: 10px;
  padding-bottom: 10px;
}

#headerLocationModal .locationModal__item:hover {
  background-color: #60c5ef;
  color: #fff;
  text-decoration: none;
}

footer {
  background-color: #222;
  color: #949494;
  padding-bottom: 20px;
}

footer .footer__title {
  color: #fff;
  font-size: 11.2px;
}

footer .footer__block1 {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .footer__block1 .footer__FAQ a {
  color: #949494;
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
  display: block;
  transition: all .2s;
  line-height: 2.3;
}

footer .footer__block1 .footer__FAQ a:hover {
  color: #fff;
}

footer .footer__block1 .footer__partner a {
  padding-top: 10px;
}

footer .footer__block1 .footer__partner a:first-child {
  padding-top: 0px;
}

footer .footer__block1 .footer__partner img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

footer .footer__block1 .footer__partner .row {
  margin-top: 10px;
}

footer .footer__block1 .footer__application img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

footer .footer__block1 .footer__social {
  text-align: center;
}

footer .footer__block1 .footer__social img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

footer .footer__block1--mobile {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .footer__block1--mobile .footer__FAQ a {
  color: #949494;
  font-size: 12px;
  font-weight: 700;
  white-space: nowrap;
  display: block;
  transition: all .2s;
  line-height: 2.3;
  padding-right: 10px;
}

footer .footer__block1--mobile .footer__FAQ a:hover {
  color: #fff;
}

footer .footer__block1--mobile .footer__social img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin-right: 15px;
}

footer .footer__block2 {
  padding-top: 20px;
  padding-bottom: 10px;
  border-top: solid 1px #949494;
}

footer .footer__block2 .footer__block2-left {
  padding-left: 0px;
}

footer .footer__block2 .footer__block2-left img {
  width: 80px;
  height: 37px;
  border-radius: 10px;
}

@media screen and (max-width: 992px) {
  footer .footer__block2 .footer__block2-left {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  footer .footer__block2 .footer__block2-left {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  footer .footer__block2 .footer__block2-left {
    text-align: center;
  }
}

footer .footer__block2 .footer__block2-right img {
  width: 130px;
  height: 47px;
}

@media screen and (max-width: 992px) {
  footer .footer__block2 .footer__block2-right {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  footer .footer__block2 .footer__block2-right {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  footer .footer__block2 .footer__block2-right {
    text-align: center;
  }
}

footer .footer__block2 .footer__block2-center a {
  color: #ff0000;
}

footer .footer__block2 .footer__block2-center .footer__block2-infor {
  color: #949494;
  font-size: 12px;
  font-weight: normal;
  line-height: 0.5;
}

@media screen and (max-width: 992px) {
  footer .footer__block2 .footer__block2-center {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  footer .footer__block2 .footer__block2-center {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  footer .footer__block2 .footer__block2-center {
    text-align: center;
  }
}

/* CAROUSEL */
.carousel {
  position: relative;
  width: 100%;
  /* override owl carousel library*/
}

.carousel .carousel__item {
  width: 100%;
}

.carousel .carousel__item img {
  display: block;
  width: 100%;
  height: 100%;
  max-height: 560px;
}

.carousel .carousel__itemIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel .carousel__itemIcon i {
  font-size: 25px;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 50%;
  padding: 25px 25px 25px 29px;
  font-weight: bold;
}

.carousel .owl-carousel .animated {
  animation-duration: 2000ms;
  animation-fill-mode: both;
}

.carousel .owl-theme .owl-dots {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel .owl-theme .owl-dots span {
  background: #9b9b9b;
  width: 13px;
  height: 13px;
}

.carousel .owl-theme .owl-dot.active span {
  background: #ff0000;
}

.carousel .carousel__prev {
  position: absolute;
  top: 50%;
  left: 5%;
  z-index: 1;
  cursor: pointer;
}

.carousel .carousel__prev img {
  width: 40px;
  height: 40px;
}

.carousel .carousel__next {
  position: absolute;
  top: 50%;
  right: 5%;
  z-index: 1;
  cursor: pointer;
}

.carousel .carousel__next img {
  width: 40px;
  height: 40px;
}

.movieList .movieList-carousel-title {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
  list-style: none;
}

.movieList .movieList-carousel-title .movieList-text-title {
  padding: 5px;
}

.movieList .movieList-carousel-title .movieList-text-title a {
  text-decoration: none;
  font-family: "SF Medium";
  color: #000;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  height: 24px;
  transition: all 0.2s;
}

.movieList .movieList-carousel-title .movieList-text-title:hover a {
  color: #000;
  font-size: 24px;
  font-weight: normal;
}

.movieList .movieList-carousel-title .movieList-text-title.active a {
  color: #fa5238;
  font-size: 20px;
  font-weight: normal;
}

/*================== NEWS ==================*/
.news #homeNews {
  background-image: url(../assets/img/img-news/back-news.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 120px;
}

.news #homeNews .nav-tabs {
  border-bottom: none;
  margin-bottom: 0;
}

.news #homeNews .nav-tabs .nav-link {
  line-height: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  color: #000;
  font-size: 20px;
  font-weight: normal;
  font-family: "SF Medium";
  display: block;
  transition: all 0.2s;
}

.news #homeNews .nav-tabs .nav-link:hover {
  font-size: 24px;
}

.news #homeNews .nav-tabs .nav-link.active {
  color: #fb4226;
  font-size: 24px;
  cursor: default;
}

.news #homeNews #myNewsContent {
  padding-top: 30px;
}

.news #homeNews #myNewsContent .news__col {
  margin-bottom: 20px;
  padding: 0 7px;
}

.news #homeNews #myNewsContent .news__col .news__image {
  margin-bottom: 10px;
  overflow: hidden;
}

.news #homeNews #myNewsContent .news__col .news__image img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.news #homeNews #myNewsContent .news__col .news__title {
  color: #000;
  text-decoration: none;
  transition: all 0.2s;
}

.news #homeNews #myNewsContent .news__col .news__title p {
  line-height: 20px;
  height: 42px;
  font-family: "SF Medium";
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 5px;
  overflow: hidden;
}

.news #homeNews #myNewsContent .news__col .news__title:hover {
  color: #fb4226;
}

.news #homeNews #myNewsContent .news__col .news__description {
  line-height: 19px;
  height: 55px;
  text-align: justify;
  font-size: 13px;
  color: #4a4a4a;
  font-family: "SF Regular";
  padding: 0 5px 0 0;
  margin-bottom: 15px;
  overflow: hidden;
}

.news #homeNews #myNewsContent .news__col .news__icons .wrapIcon {
  display: inline-block;
  margin-right: 25px;
}

.news #homeNews #myNewsContent .news__col .news__icons .wrapIcon a {
  text-decoration: none;
}

.news #homeNews #myNewsContent .news__col .news__icons .wrapIcon a img {
  margin-right: 10px;
  margin-top: 2px;
  width: 18px;
  transition: all 0.2s;
}

.news #homeNews #myNewsContent .news__col .news__icons .wrapIcon a p {
  display: inline-block;
  color: #bbb;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
}

.news #homeNews #myNewsContent .news__col .news__icons .wrapIcon a:hover img {
  transform: scale(1.1);
}

.news #homeNews #myNewsContent .news__small {
  margin-bottom: 20px;
}

.news #homeNews #myNewsContent .news__small .news__image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
}

.news #homeNews #myNewsContent .news__small .news__title p {
  opacity: 0.7;
  font-family: "SF Regular";
}

.news #homeNews #myNewsContent .news__col:nth-child(1),
.news #homeNews #myNewsContent .news__col:nth-child(2) {
  width: 50%;
}

.news #homeNews #myNewsContent .news__col:nth-child(3),
.news #homeNews #myNewsContent .news__col:nth-child(4),
.news #homeNews #myNewsContent .news__col:nth-child(5) {
  width: calc(100% / 3);
}

.news #homeNews #myNewsContent .SeeMoreNews {
  width: 100%;
  margin-bottom: 35px;
}

@media screen and (max-width: 576px) {
  .news #homeNews #myNewsContent .news__col {
    width: 100% !important;
    padding: 0 10px;
    margin-bottom: 15px;
  }
  .news #homeNews #myNewsContent .news__col .news__title p {
    height: auto;
  }
  .news #homeNews #myNewsContent .news__col .news__description {
    height: auto;
  }
  .news #homeNews #myNewsContent .news__small {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 540px) {
  .news #homeNews .nav-tabs .nav-link {
    color: #000;
    font-size: 16px;
    font-weight: normal;
  }
  .news #homeNews .nav-tabs .nav-link:hover {
    font-size: 18px;
  }
  .news #homeNews .nav-tabs .nav-link.active {
    font-size: 18px;
  }
}

/*================== BANNER ==================*/
.banner {
  background-image: url(../assets/img/img-banner/backapp.jpg);
  padding: 120px 0 80px 0;
  background-size: contain;
}

.banner .left {
  padding-top: 60px;
  color: #fff;
}

.banner .left .left__text {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

.banner .left .left__description {
  margin-bottom: 10px;
}

.banner .left .left__apps {
  padding-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.banner .left .left__apps a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.banner .right {
  padding: 0;
  position: relative;
  overflow: hidden;
}

.banner .right .phone-img {
  display: block;
  padding: 0 28%;
  max-width: 100%;
  height: auto;
}

.banner .right #banner__carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1.7%;
  padding-left: 29.3%;
  padding-right: 29.3%;
  padding-bottom: 0%;
}

.banner .right #banner__carousel .owl-dots {
  display: none;
}

.banner .right #banner__carousel .owl-carousel .owl-stage-outer {
  border-radius: 23px;
}

.banner .right #banner__carousel .banner__carouselItem img {
  display: block;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .banner {
    padding-top: 10px;
  }
  .banner .left {
    text-align: center;
  }
  .banner .left .left__text {
    font-size: 25px;
  }
  .banner .left .left__description {
    font-size: 14px;
  }
}

.movieList {
  position: relative;
}

.movieList .buyMovie {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 100%;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 20px 20px;
}

.movieList .buyMovie .buyMovie__selectedItem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #9b9b9b;
  padding-left: 10px;
  padding-right: 10px;
}

.movieList .buyMovie .buyMovie__selectedItem span {
  font-size: 16px;
  font-weight: normal;
  color: #000;
}

.movieList .buyMovie .buyMovie__selectedItem a {
  margin-left: auto;
}

.movieList .buyMovie .buyMovie__selectedItem a i {
  color: #9b9b9b;
}

.movieList .buyMovie .dropdown-menu {
  max-height: 300px;
  overflow: auto;
}

.movieList .buyMovie .dropdown-menu a:hover {
  background-color: #60c5ef;
  color: #fff;
  text-decoration: none;
}

.movieList .buyMovie .dropdown-menu::-webkit-scrollbar {
  width: 5px;
}

.movieList .buyMovie .dropdown-menu::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.movieList .buyMovie .dropdown-menu::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.movieList .buyMovie .buyMovie__listMovie {
  width: 30%;
  border-right: solid 1px rgba(209, 196, 196, 0.5);
}

.movieList .buyMovie .buyMovie__theater {
  width: calc(70% / 4);
  border-right: solid 1px rgba(209, 196, 196, 0.5);
}

.movieList .buyMovie .buyMovie__day {
  width: calc(70% / 4);
  border-right: solid 1px rgba(209, 196, 196, 0.5);
}

.movieList .buyMovie .buyMovie__day .friendly {
  font-size: 15px;
}

.movieList .buyMovie .buyMovie__day .origin {
  font-size: 11px;
  color: #9b9b9b;
}

.movieList .buyMovie .buyMovie__showTime {
  width: calc(70% / 4);
  border-right: solid 1px rgba(209, 196, 196, 0.5);
}

.movieList .buyMovie .buyMovie__submit {
  width: calc(70% / 4);
}

.movieList .movieList-carousel .nav-tabs {
  border-bottom: none;
  margin-bottom: 30px;
  margin-top: 60px;
}

.movieList .movieList-carousel .nav-tabs .nav-link {
  border: none;
  background-color: transparent;
  color: #000;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  height: 24px;
  font-family: "SF Medium";
  display: block;
  transition: all 0.2s;
}

.movieList .movieList-carousel .nav-tabs .nav-link:hover {
  font-size: 24px;
}

.movieList .movieList-carousel .nav-tabs .nav-link.active {
  color: #fa5238;
  font-size: 24px;
  cursor: default;
}

.movieList #myTabContent {
  padding-top: 30px;
}

.movieList #myTabContent #now-showing {
  position: relative;
  width: 100%;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content {
  position: relative;
  transition: all 0.2s;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .item-img {
  position: relative;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .item-img img {
  margin-bottom: 10px;
  border-radius: 4px;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .item-img .bg-under {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 4px;
  background: linear-gradient(to top, #000, transparent 100%);
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .item-img .bg-under .carousel__playVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .item-img .bg-under .carousel__playVideo .icon-play i {
  font-size: 15px;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 50%;
  padding: 20px 20px 20px 24px;
  font-weight: bold;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .item-text .name-text {
  font-family: "SF Medium";
  color: #000;
  font-size: 16px;
  font-weight: normal;
  height: 42px;
  max-height: 42px;
  line-height: 22px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .item-text .name-text span {
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  background-color: #fb4226;
  border-radius: 4px;
  padding: 0 5px;
  min-width: 33px;
  text-align: center;
  display: inline-block;
  margin-right: 8px;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .item-text .time-text {
  color: #4a4a4a #000;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 1 15px;
  margin-top: 8px;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .item-rating {
  font-family: "SF Medium";
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  top: 3%;
  right: 5%;
  text-align: center;
  width: 54px;
  background-color: rgba(12, 27, 54, 0.8);
  border: 1px solid #1f2e46;
  border-radius: 4px;
  line-height: 1.1;
  padding: 0 2px;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .item-rating .list-start {
  margin: 0 !important;
  text-align: center;
  display: flex;
  justify-content: center;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .item-rating .list-start .smallStart {
  max-width: 8px;
  margin-bottom: 5px;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .item-rating .text-rating {
  margin-bottom: 5px;
  margin-top: 4px;
  transform: scaleY(1.2);
  color: #fff;
  font-size: 16px;
  font-weight: normal;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .movie-type {
  position: absolute;
  top: -5%;
  left: -4%;
  width: 80%;
  pointer-events: none;
  overflow: hidden;
  transform: translate(-5%, -12%);
  max-width: 150px;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .text-under {
  opacity: 0;
  position: absolute;
  bottom: 7%;
  width: 100%;
  height: 12%;
  border-radius: 4px;
  text-align: center;
  padding: 10px 0;
  transition: all 0.2s;
  background: linear-gradient(to left, #fb4226, #ce3017 100%);
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .text-under p {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content .text-under:hover {
  background: #fb4226;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content:hover .bg-under {
  opacity: 1;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content:hover .text-under {
  opacity: 1;
}

.movieList #myTabContent #now-showing .movieList-carousel-items .item-carousel .item-content:hover .item-text {
  opacity: 0;
}

.movieList #myTabContent #now-showing .carousel__prev {
  position: absolute;
  top: 40%;
  left: -8%;
  width: 50px;
  height: 54px;
  z-index: 2;
  opacity: 0.5;
}

.movieList #myTabContent #now-showing .carousel__prev img {
  height: 100%;
}

.movieList #myTabContent #now-showing .carousel__next {
  position: absolute;
  top: 40%;
  right: -8%;
  width: 50px;
  height: 54px;
  z-index: 2;
  opacity: 0.5;
}

.movieList #myTabContent #now-showing .carousel__next img {
  height: 100%;
}

.movieList #myTabContent #now-showing .owl-dots {
  display: none;
}

.movieList .movieListp-table .movieList-content .nav-icons {
  border-top: 1px solid #ebebec;
  border-bottom: 1px solid #ebebec;
  border-left: 1px solid #ebebec;
  max-width: 93px;
}

.movieList .movieListp-table .movieList-content .nav-icons .navbar-nav {
  list-style: none;
}

.movieList .movieListp-table .movieList-content .nav-icons .navbar-nav .nav-item {
  padding: 19px 5px;
  border-bottom: 1px solid #ebebec;
  opacity: 60%;
}

.movieList .movieListp-table .movieList-content .nav-icons .navbar-nav .nav-item img {
  width: 100%;
}

.movieList .movieListp-table .movieList-content .nav-icons .navbar-nav .nav-item:active {
  opacity: 100%;
}

.movieList .movieListp-table .movieList-content .nav-icons .navbar-nav .nav-item:hover {
  opacity: 100%;
}

.movieList .movieListp-table .movieList-content .nav-cinemas {
  border-top: 1px solid #ebebec;
  border-bottom: 1px solid #ebebec;
  border-left: 1px solid #ebebec;
  max-width: 280px;
}

.movieList .movieListp-table .movieList-content .nav-cinemas .navbar-nav {
  list-style: none;
}

.movieList .movieListp-table .movieList-content .nav-cinemas .navbar-nav .nav-item {
  padding: 5px 5px;
  border-bottom: 1px solid #ebebec;
  opacity: 60%;
}

.movieList .movieListp-table .movieList-content .nav-cinemas .navbar-nav .nav-item .cinema-icon {
  padding: 15px 0 15px 15px;
}

.movieList .movieListp-table .movieList-content .nav-cinemas .navbar-nav .nav-item .cinema-icon img {
  width: 100%;
  height: 100%;
}

.movieList .movieListp-table .movieList-content .nav-cinemas .navbar-nav .nav-item .cinema-content {
  padding: 15px 0 0 9px;
}

.movieList .movieListp-table .movieList-content .nav-cinemas .navbar-nav .nav-item .cinema-content p {
  margin-bottom: 0;
  color: #000;
  font-size: 14px;
  font-weight: normal;
}

.movieList .movieListp-table .movieList-content .nav-cinemas .navbar-nav .nav-item .cinema-content p span {
  color: #8bc541;
  font-size: 14px;
  font-weight: 700;
  display: inline-block !important;
}

.movieList .movieListp-table .movieList-content .nav-cinemas .navbar-nav .nav-item .cinema-content .child-span-one {
  color: #949494;
  font-size: 12px;
  font-weight: normal;
  display: inline-block !important;
  overflow: hidden;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  width: 100%;
}

.movieList .movieListp-table .movieList-content .nav-cinemas .navbar-nav .nav-item .cinema-content .child-span-two {
  line-height: 0 !important;
  display: inline-block !important;
}

.movieList .movieListp-table .movieList-content .nav-cinemas .navbar-nav .nav-item .cinema-content .child-span-two a {
  color: #fb4226;
  font-size: 12px;
  font-weight: normal;
}

.movieList .movieListp-table .movieList-content .nav-cinemas .navbar-nav .nav-item:active {
  opacity: 100%;
}
/*# sourceMappingURL=main.css.map */