.banner {
    background-image: url(../assets/img/img-banner/backapp.jpg);
    padding: 120px 0 80px 0;
    background-size: contain;

    .left {
        padding-top: 60px;
        color: #fff;

        .left__text {
            font-weight: 700;
            font-size: 32px;
            margin-bottom: 10px;
        }

        .left__description {
            margin-bottom: 10px;
        }

        .left__apps {
            padding-top: 10px;
            margin-bottom: 10px;
            font-size: 14px;

            a {
                text-decoration: none;
                color: #fff;
                border-bottom: 1px solid #fff;
            }
        }
    }

    .right {
        padding: 0;
        position: relative;
        overflow: hidden;

        .phone-img {
            display: block;
            padding: 0 28%;
            max-width: 100%;
            height: auto;
        }

        #banner__carousel {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 2%;
            padding-left: 29.3%;
            padding-right: 29.3%;
            padding-bottom: 0%;

            .banner__carouselItem {
                img {
                    display: block;
                    width: 100%;
                    border-radius: 20px;
                }
            }
        }
    }
}