//fixed space between body and other sub elments - using for making the sticky navbar
$spacing-between-body-and-top: 76px;

// varialbe font
$font-SFRegular:'SF Regular';
$font-SFMedium: 'SF Medium';

// variable color
$color-black-0: #000; 
$color-black-1: #222; 
$color-gray-0: #9b9b9b;
$color-gray-1: #4a4a4a;
$color-gray-2: #949494;
$color-white-0:#fff;
$color-red-0: #ff0000;
$color-red-1: #fb4226;

// variable font-size
$fs-0: 11.2px;
$fs-1: 12px;
$fs-2: 13px;
$fs-3: 14px; 
$fs-4: 16px;
$fs-5: 24px;
$fs-6: 25px;
$fs-7: 32px;
$fs-8: 19px;
$fs-9: 20px;

//variable font-weight
$fw-normal: normal;
$fw-bold-0: 700;

$fw-bold-2: 500;

//variable margin
$mg-0: 5px; 
$mg-1: 10px;
$mg-2: 20px;

//variable padding
$pd-0: 5px; 
$pd-1: 10px;
$pd-2: 20px;
$pd-3: 25px;
$pd-4: 29px;

//variable line-height
$line-height-0: 25px; 

//break points
$breakpoints:(
    'extra-large': 1200px,
    'large' : 992px,
    'medium' : 768px,
    'small' : 576px,
)
