/* CAROUSEL */
.carousel {
    position: relative;
    width: 100%;

    .carousel__item {
        width: 100%;

        img {
            display: block;
            width: 100%;
            height: 100%;
            max-height: 560px;
        }
    }

    .carousel__itemIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        i {
            font-size: $fs-6;
            color: $color-white-0;
            border: solid 1px $color-white-0;
            border-radius: 50%;
            padding: $pd-3 $pd-3 $pd-3 $pd-4;
            font-weight: bold;
        }
    }

    /* override owl carousel library*/
    .owl-carousel {
        .animated {
            animation-duration: 2000ms;
            animation-fill-mode: both;
        }
    }

    .owl-theme {
        .owl-dots {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);

            span {
                background: $color-gray-0;
                width: 13px;
                height: 13px;
            }
        }

        .owl-dot.active {
            span {
                background: $color-red-0;
            }
        }
    }

    .carousel__prev {
        position: absolute;
        top: 50%;
        left: 5%;
        z-index: 1;
        cursor: pointer;

        img {
            width: 40px;
            height: 40px;
        }
    }

    .carousel__next {
        position: absolute;
        top: 50%;
        right: 5%;
        z-index: 1;
        cursor: pointer;

        img {
            width: 40px;
            height: 40px;
        }
    }
}

//  MOVELISt
.movieList {
    .movieList-carousel-title {
        margin-top: $mg-3;
        margin-bottom: $mg-3;
        margin-right: $mg-1;
        list-style: none;
        .movieList-text-title {
            padding: $pd-0;
            a {
                text-decoration: none;
                @include fontText($font-SFMedium);
                @include styleText($color-black-0, $fs-4 + 4, $fw-normal);
                line-height: 24px;
                height: 24px;
                transition: all 0.2s;
            }
            &:hover a {
                @include styleText($color-black-0, $fs-5, $fw-normal);
            }
        }
        .movieList-text-title.active {
            a {
                @include styleText($color-red-2, $fs-4 + 4, $fw-normal);
            }
        }
    }
}

/*================== NEWS ==================*/
.news {
    #homeNews {
        background-image: url(../assets/img/img-news/back-news.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        padding-top: 120px;

        .nav-tabs {
            border-bottom: none;
            margin-bottom: 0;

            .nav-link {
                @include setHeight($line-height-1, $height-0);
                border: none;
                background-color: transparent;
                @include styleText($color-black-0, $fs-9, $fw-normal);
                @include fontText($font-SFMedium);
                display: block;
                transition: all 0.2s;

                &:hover {
                    font-size: $fs-5;
                }
            }

            .nav-link.active {
                color: $color-red-1;
                font-size: $fs-5;
                cursor: default;
            }
        }

        #myNewsContent {
            padding-top: $pd-5;

            .news__col {
                margin-bottom: $mg-2;
                padding: 0 7px;

                .news__image {
                    margin-bottom: $mg-1;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                    }
                }

                .news__title {
                    color: $color-black-0;
                    text-decoration: none;
                    transition: all 0.2s;

                    p {
                        @include setHeight($line-height-2, $height-1 + 2);
                        @include fontText($font-SFMedium);
                        font-weight: $fw-normal;
                        font-size: $fs-4;
                        margin-bottom: $mg-0;
                        overflow: hidden;
                    }

                    &:hover {
                        color: $color-red-1;
                    }
                }

                .news__description {
                    @include setHeight($line-height-2 - 1, $height-2);
                    text-align: justify;
                    font-size: $fs-2;
                    color: $color-gray-1;
                    @include fontText($font-SFRegular);
                    padding: 0 $pd-0 0 0;
                    margin-bottom: $mg-4;
                    overflow: hidden;
                }

                .news__icons {
                    .wrapIcon {
                        display: inline-block;
                        margin-right: $mg-5;

                        a {
                            text-decoration: none;

                            img {
                                margin-right: $mg-1;
                                margin-top: 2px;
                                width: 18px;
                                transition: all 0.2s;
                            }

                            p {
                                display: inline-block;
                                @include styleText($color-gray-4, $fs-1, $fw-normal);
                                line-height: 1;
                            }

                            &:hover img {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }

            .news__small {
                margin-bottom: $mg-2;

                .news__image {
                    width: 50px;
                    height: 50px;
                    margin-right: $mg-1;
                    float: left;
                }

                .news__title {
                    p {
                        opacity: 0.7;
                        @include fontText($font-SFRegular);
                    }
                }
            }

            .news__col:nth-child(1),
            .news__col:nth-child(2) {
                width: 50%;
            }

            .news__col:nth-child(3),
            .news__col:nth-child(4),
            .news__col:nth-child(5) {
                width: calc(100% / 3);
            }

            .SeeMoreNews {
                width: 100%;
                margin-bottom: 35px;
            }
        }
    }
}

//------ responsive news
@include responsive('small') {
    .news {
        #homeNews {
            #myNewsContent {
                .news__col {
                    width: 100% !important;
                    padding: 0 10px;
                    margin-bottom: 15px;

                    .news__title {
                        p {
                            height: auto;
                        }
                    }

                    .news__description {
                        height: auto;
                    }
                }

                .news__small {
                    margin-bottom: $mg-2 + 5;
                }
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .news {
        #homeNews {
            .nav-tabs {
                .nav-link {
                    @include styleText($color-black-0, $fs-4, $fw-normal);
                    
                    &:hover {
                        font-size: $fs-4 + 2;
                    }
                }

                .nav-link.active {
                    font-size: $fs-4 + 2;
                }
            }
        }
    }
}


/*================== BANNER ==================*/
.banner {
    background-image: url(../assets/img/img-banner/backapp.jpg);
    padding: 120px 0 80px 0;
    background-size: contain;

    .left {
        padding-top: 60px;
        color: $color-white-0;

        .left__text {
            font-weight: $fw-bold-0;
            font-size: $fs-7;
            margin-bottom: $mg-1;
        }

        .left__description {
            margin-bottom: $mg-1;
        }

        .left__apps {
            padding-top: $pd-1;
            margin-bottom: $mg-1;
            font-size: $fs-3;

            a {
                text-decoration: none;
                color: $color-white-0;
                border-bottom: 1px solid $color-white-0;
            }
        }
    }

    .right {
        padding: 0;
        position: relative;
        overflow: hidden;

        .phone-img {
            display: block;
            padding: 0 28%;
            max-width: 100%;
            height: auto;
        }

        #banner__carousel {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 1.7%;
            padding-left: 29.3%;
            padding-right: 29.3%;
            padding-bottom: 0%;

            .owl-dots {
                display: none;
            }

            .owl-carousel .owl-stage-outer {
                border-radius: 23px;
            }

            .banner__carouselItem {
                img {
                    display: block;
                    width: 100%;
                    // border-radius: 20px;
                }
            }
        }
    }
}

//------ responsive banner
.banner {
    @include responsive("large") {
        padding-top: 10px;

        .left {
            text-align: center;

            .left__text {
                font-size: 25px;
            }

            .left__description {
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {

}

// MOVIELITS
.movieList {
    .movieList-carousel {
        .nav-tabs {
            border-bottom: none;
            margin-bottom: $mg-3;
            margin-top: 60px;

            .nav-link {
                border: none;
                background-color: transparent;
                @include styleText($color-black-0, $fs-9, $fw-normal);
                line-height: $line-height-1;
                height: 24px;
                font-family: $font-SFMedium;
                display: block;
                transition: all 0.2s;

                &:hover {
                    font-size: 24px;
                }
            }

            .nav-link.active {
                color: #fa5238;
                font-size: 24px;
                cursor: default;
            }
        }
    }
    #myTabContent {
        padding-top: $pd-5;
        #now-showing {
            position: relative;
            width: 100%;
            .movieList-carousel-items {
                .item-carousel {
                    .item-content {
                        position: relative;
                        img {
                            margin-bottom: $mg-1;
                            border-radius: 4px;
                        }
                        .item-text {
                            @include fontText($font-SFMedium);
                            @include styleText($color-black-0, $fs-4, $fw-normal);
                            height: 42px;
                            max-height: 42px;
                            line-height: $line-height-0 - 3;
                            margin-bottom: 0;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            span {
                                @include styleText($color-white-0, $fs-3, $fw-normal);
                                background-color: #fb4226;
                                border-radius: 4px;
                                padding: 0 5px;
                                min-width: 33px;
                                text-align: center;
                                display: inline-block;
                                margin-right: $mg-1 - 2;
                            }
                        }
                        p {
                            @include styleText($color-gray-1$color-black-0, $fs-2, $fw-normal);
                            margin-bottom: 1$mg-1 + 5;
                            margin-top: $mg-1 - 2;
                        }
                        .item-rating {
                            @include fontText($font-SFMedium);
                            @include styleText($color-white-0, $fs-4, $fw-normal);
                            position: absolute;
                            top: 11px;
                            right: 11px;
                            text-align: center;
                            width: 54px;
                            background-color: $bg-color-blue-8;
                            border: 1px solid #1f2e46;
                            border-radius: 4px;
                            line-height: 1.1;
                            padding: 0 2px;
                            .list-start {
                                margin: 0 !important;
                                text-align: center;
                                display: flex;
                                justify-content: center;
                                .smallStart {
                                    max-width: 8px;
                                    margin-bottom: 5px;
                                }
                            }
                            .text-rating {
                                margin-bottom: 5px;
                                margin-top: 4px;
                                transform: scaleY(1.2);
                                @include styleText($color-white-0, $fs-4, $fw-normal);
                            }
                        }
                        .movie-type {
                            position: absolute;
                            top: -20px;
                            left: -10px;
                            width: 80%;
                            pointer-events: none;
                            overflow: hidden;
                            transform: translate(-5%, -12%);
                            max-width: 150px;
                        }
                        .display-under {
                            border: 1px solid $color-black-0;
                            position: absolute;
                            border-radius: 4px;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background-color: rgba(39, 35, 35, 0.8);
                        }
                    }
                }
            }
            .carousel__prev {
                position: absolute;
                top: 43%;
                left: -8%;
                width: 50px;
                height: 54px;
                z-index: 2;
                opacity: 0.5;
                img {
                    height: 100%;
                }
            }
            .carousel__next {
                position: absolute;
                top: 43%;
                right: -8%;
                width: 50px;
                height: 54px;
                z-index: 2;
                opacity: 0.5;
                img {
                    height: 100%;
                }
            }
            .owl-dots {
                display: none;
            }
        }
    }
}
