/* CAROUSEL */
.carousel {
    position: relative;
    width: 100%;

    .carousel__item {
        width: 100%;

        img {
            display: block;
            width: 100%;
            height: 100%;
            max-height: 560px;
        }
    }

    .carousel__itemIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        i {
            font-size: $fs-6;
            color: $color-white-0;
            border: solid 1px $color-white-0;
            border-radius: 50%;
            padding: $pd-3 $pd-3 $pd-3 $pd-4;
            font-weight: bold;
        }
    }

    /* override owl carousel library*/
    .owl-carousel {
        .animated {
            animation-duration: 2000ms;
            animation-fill-mode: both;
        }
    }

    .owl-theme {
        .owl-dots {
            position: absolute;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);

            span {
                background: $color-gray-0;
                width: 13px;
                height: 13px;
            }
        }

        .owl-dot.active {
            span {
                background: $color-red-0;
            }
        }
    }

    .carousel__prev {
        position: absolute;
        top: 50%;
        left: 5%;
        z-index: 1;
        cursor: pointer;

        img {
            width: 40px;
            height: 40px;
        }
    }

    .carousel__next {
        position: absolute;
        top: 50%;
        right: 5%;
        z-index: 1;
        cursor: pointer;

        img {
            width: 40px;
            height: 40px;
        }
    }
}

/*================== NEWS ==================*/
.news {
    #homeNews {
        background-image: url(../assets/img/img-news/back-news.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top;
        padding-top: 120px;

        .nav-tabs {
            border-bottom: none;
            margin-bottom: 0;

            .nav-link {
                @include setHeight($line-height-1, $height-0);
                border: none;
                background-color: transparent;
                @include styleText($color-black-0, $fs-9, $fw-normal);
                @include fontText($font-SFMedium);
                display: block;
                transition: all 0.2s;

                &:hover {
                    font-size: $fs-5;
                }
            }

            .nav-link.active {
                color: $color-red-1;
                font-size: $fs-5;
                cursor: default;
            }
        }

        #myNewsContent {
            padding-top: $pd-5;

            .news__col {
                margin-bottom: $mg-2;
                padding: 0 7px;

                .news__image {
                    margin-bottom: $mg-1;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                    }
                }

                .news__title {
                    color: $color-black-0;
                    text-decoration: none;
                    transition: all 0.2s;

                    p {
                        @include setHeight($line-height-2, $height-1 + 2);
                        @include fontText($font-SFMedium);
                        font-weight: $fw-normal;
                        font-size: $fs-4;
                        margin-bottom: $mg-0;
                        overflow: hidden;
                    }

                    &:hover {
                        color: $color-red-1;
                    }
                }

                .news__description {
                    @include setHeight($line-height-2 - 1, $height-2);
                    text-align: justify;
                    font-size: $fs-2;
                    color: $color-gray-1;
                    @include fontText($font-SFRegular);
                    padding: 0 $pd-0 0 0;
                    margin-bottom: $mg-4;
                    overflow: hidden;
                }

                .news__icons {
                    .wrapIcon {
                        display: inline-block;
                        margin-right: $mg-5;

                        a {
                            text-decoration: none;

                            img {
                                margin-right: $mg-1;
                                margin-top: 2px;
                                width: 18px;
                                transition: all 0.2s;
                            }

                            p {
                                display: inline-block;
                                @include styleText($color-gray-4, $fs-1, $fw-normal);
                                line-height: 1;
                            }

                            &:hover img {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }

            .news__small {
                margin-bottom: $mg-2;

                .news__image {
                    width: 50px;
                    height: 50px;
                    margin-right: $mg-1;
                    float: left;
                }

                .news__title {
                    p {
                        opacity: 0.7;
                        @include fontText($font-SFRegular);
                    }
                }
            }

            .news__col:nth-child(1),
            .news__col:nth-child(2) {
                width: 50%;
            }

            .news__col:nth-child(3),
            .news__col:nth-child(4),
            .news__col:nth-child(5) {
                width: calc(100% / 3);
            }

            .SeeMoreNews {
                width: 100%;
                margin-bottom: 35px;
            }
        }
    }
}

//------ responsive news
@include responsive("small") {
    .news {
        #homeNews {
            #myNewsContent {
                .news__col {
                    width: 100% !important;
                    padding: 0 $pd-1;
                    margin-bottom: $mg-4;

                    .news__title {
                        p {
                            height: auto;
                        }
                    }

                    .news__description {
                        height: auto;
                    }
                }

                .news__small {
                    margin-bottom: $mg-2 + 5;
                }
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .news {
        #homeNews {
            .nav-tabs {
                .nav-link {
                    @include styleText($color-black-0, $fs-4, $fw-normal);

                    &:hover {
                        font-size: $fs-4 + 2;
                    }
                }

                .nav-link.active {
                    font-size: $fs-4 + 2;
                }
            }
        }
    }
}

/*================== BANNER ==================*/
.banner {
    background-image: url(../assets/img/img-banner/backapp.jpg);
    padding: 120px 0 80px 0;
    background-size: contain;

    .left {
        padding-top: 60px;
        color: $color-white-0;

        .left__text {
            font-weight: $fw-bold-0;
            font-size: $fs-7;
            margin-bottom: $mg-1;
        }

        .left__description {
            margin-bottom: $mg-1;
        }

        .left__apps {
            padding-top: $pd-1;
            margin-bottom: $mg-1;
            font-size: $fs-3;

            a {
                text-decoration: none;
                color: $color-white-0;
                border-bottom: 1px solid $color-white-0;
            }
        }
    }

    .right {
        padding: 0;
        position: relative;
        overflow: hidden;

        .phone-img {
            display: block;
            padding: 0 28%;
            width: 100%;
            height: auto;
            margin-right: 0 !important;
        }

        #banner__carousel {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding-top: 1.7%;
            padding-left: 29.3%;
            padding-right: 29.3%;
            padding-bottom: 0%;

            .owl-dots {
                display: none;
            }

            .owl-carousel .owl-stage-outer {
                border-radius: 23px;
            }

            .banner__carouselItem {
                img {
                    display: block;
                    width: 100%;
                    // border-radius: 20px;
                }
            }
        }
    }
}

//------ responsive banner
.banner {
    @include responsive("large") {
        padding-top: $pd-1;

        .left {
            text-align: center;

            .left__text {
                font-size: $fs-6;
            }

            .left__description {
                font-size: $fs-3;
            }
        }
    }
}

/*================== MOVIELIST ==================*/
.movieList {
    position: relative;
    .buyMovie {
        position: absolute;
        top: -60px;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        width: 100%;
        background: $color-white-0;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        padding: $pd-2 $pd-2;
        .buyMovie__selectedItem {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: $color-gray-0;
            padding-left: $pd-1;
            padding-right: $pd-1;
            span {
                font-size: $fs-4;
                font-weight: $fw-normal;
                color: $color-black-0;
            }
            a {
                margin-left: auto;
                i {
                    color: $color-gray-0;
                }
            }
        }

        .dropdown-menu {
            max-height: 300px;
            overflow: auto;

            a:hover {
                background-color: $color-blue-1;
                color: $color-white-0;
                text-decoration: none;
            }
        }

        .dropdown-menu::-webkit-scrollbar {
            width: 5px;
        }

        .dropdown-menu::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        .dropdown-menu::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }

        .buyMovie__listMovie {
            width: 30%;
            border-right: solid 1px rgba(209, 196, 196, 0.5);
        }

        .buyMovie__theater {
            width: calc(70% / 4);
            border-right: solid 1px rgba(209, 196, 196, 0.5);
        }

        .buyMovie__day {
            width: calc(70% / 4);
            border-right: solid 1px rgba(209, 196, 196, 0.5);
            .friendly {
                font-size: 15px;
            }
            .origin {
                font-size: 11px;
                color: $color-gray-0;
            }
        }

        .buyMovie__showTime {
            width: calc(70% / 4);
            border-right: solid 1px rgba(209, 196, 196, 0.5);
        }

        .buyMovie__submit {
            width: calc(70% / 4);
        }
    }

    .movieList-carousel {
        .nav-tabs {
            border-bottom: none;
            margin-bottom: $mg-3;
            margin-top: 60px;

            .nav-link {
                border: none;
                background-color: transparent;
                @include styleText($color-black-0, $fs-9, $fw-normal);
                line-height: $line-height-1;
                height: 24px;
                font-family: $font-SFMedium;
                display: block;
                transition: all 0.2s;

                &:hover {
                    font-size: 24px;
                }
            }

            .nav-link.active {
                color: #fa5238;
                font-size: 24px;
                cursor: default;
            }
        }
    }
    #myTabContent {
        padding-top: $pd-0 - 4;
        #now-showing {
            position: relative;
            .now-showing-lg {
                .movieList-carousel-items {
                    .item-carousel {
                        .item-content {
                            position: relative;
                            transition: all 0.2s;
                            .item-img {
                                position: relative;
                                img {
                                    margin-bottom: $mg-1;
                                    border-radius: 4px;
                                }
                                .bg-under {
                                    opacity: 0;
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    border-radius: 4px;
                                    background: linear-gradient(to top, #000, transparent 100%);
                                    .carousel__playVideo {
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        .icon-play {
                                            i {
                                                font-size: $fs-3 + 1;
                                                color: $color-white-0;
                                                border: solid 1px $color-white-0;
                                                border-radius: 50%;
                                                padding: $pd-2 $pd-2 $pd-2 $pd-2 + 4;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                            }
                            .item-text {
                                .name-text {
                                    @include fontText($font-SFMedium);
                                    @include styleText($color-black-0, $fs-4, $fw-normal);
                                    height: 42px;
                                    max-height: 42px;
                                    line-height: $line-height-0 - 3;
                                    margin-bottom: 0;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    span {
                                        @include styleText($color-white-0, $fs-3, $fw-normal);
                                        background-color: $color-red-1;
                                        border-radius: 4px;
                                        padding: 0 5px;
                                        // min-width: 33px;
                                        text-align: center;
                                        display: inline-block;
                                        margin-right: $mg-1 - 2;
                                    }
                                }
                                .time-text {
                                    @include styleText($color-gray-1$color-black-0, $fs-2, $fw-normal);
                                    margin-bottom: 1$mg-1 + 5;
                                    margin-top: $mg-1 - 2;
                                }
                            }
                            .item-rating {
                                @include fontText($font-SFMedium);
                                @include styleText($color-white-0, $fs-4, $fw-normal);
                                position: absolute;
                                top: 3%;
                                right: 5%;
                                text-align: center;
                                width: 54px;
                                background-color: $bg-color-blue-8;
                                border: 1px solid #1f2e46;
                                border-radius: 4px;
                                line-height: 1.1;
                                padding: 0 2px;
                                .list-start {
                                    margin: 0 !important;
                                    text-align: center;
                                    display: flex;
                                    justify-content: center;
                                    .smallStart {
                                        max-width: 8px;
                                        margin-bottom: 5px;
                                    }
                                }
                                .text-rating {
                                    margin-bottom: 5px;
                                    margin-top: 4px;
                                    transform: scaleY(1.2);
                                    @include styleText($color-white-0, $fs-4, $fw-normal);
                                }
                            }
                            .movie-type {
                                position: absolute;
                                top: -5%;
                                left: -4%;
                                width: 80%;
                                pointer-events: none;
                                overflow: hidden;
                                transform: translate(-5%, -12%);
                                max-width: 150px;
                            }
                            .text-under {
                                opacity: 0;
                                position: absolute;
                                bottom: 7%;
                                width: 100%;
                                height: 12%;
                                border-radius: 4px;
                                text-align: center;
                                padding: 10px 0;
                                transition: all 0.2s;
                                background: linear-gradient(to left, $color-red-1, $color-red-3 100%);
                                p {
                                    @include styleText($color-white-0, $fs-4 + 2, $fw-normal);
                                }
                                &:hover {
                                    background: $color-red-1;
                                }
                            }
                            .premiere-soon {
                                position: absolute;
                                right: 10px;
                                bottom: 89px;
                                text-align: center;
                                @include styleText($color-white-0, $fs-1, $fw-bold-4);
                                background-color: $color-red-1;
                                border-radius: 4px;
                                display: block;
                                padding: 4px 8px;
                                box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
                            }
                            &:hover {
                                .bg-under {
                                    opacity: 1;
                                }
                                .text-under {
                                    opacity: 1;
                                }
                                .item-text {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
                .movie-list-pev {
                    position: absolute;
                    top: 40%;
                    left: -8%;
                    width: 50px;
                    height: 54px;
                    z-index: 2;
                    opacity: 0.5;
                    img {
                        height: 100%;
                    }
                }
                .movie-list-next {
                    position: absolute;
                    top: 40%;
                    right: -8%;
                    width: 50px;
                    height: 54px;
                    z-index: 2;
                    opacity: 0.5;
                    img {
                        height: 100%;
                    }
                }
                .owl-dots {
                    display: none;
                }
            }
            .now-showing-md {
                display: none;
                .now-showing-item {
                    position: relative;
                    margin-top: $mg-2;
                    img {
                        border-radius: 4px;
                    }
                    .now-showing-item-text {
                        position: absolute;
                        left: 10px;
                        bottom: 10px;
                        text-align: center;
                        @include styleText($color-white-0, $fs-3, $fw-normal);
                        background-color: $color-red-1;
                        border-radius: 4px;
                        display: block;
                        width: 35px;
                    }

                    .now-showing-item-rating {
                        @include fontText($font-SFMedium);
                        @include styleText($color-white-0, $fs-4, $fw-normal);
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        text-align: center;
                        width: 54px;
                        background-color: $bg-color-blue-8;
                        border: 1px solid #1f2e46;
                        border-radius: 4px;
                        line-height: 1.1;
                        padding: 0 2px;
                        .list-start {
                            margin: 0 !important;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            .smallStart {
                                max-width: 8px;
                                margin-bottom: 5px;
                            }
                        }
                        .text-rating {
                            margin-bottom: 5px;
                            margin-top: 4px;
                            transform: scaleY(1.2);
                            @include styleText($color-white-0, $fs-4, $fw-normal);
                        }
                    }
                    .now-showing-movie-type {
                        position: absolute;
                        top: -21px;
                        left: -12px;
                        overflow: hidden;
                        max-width: 150px;
                        transform: translate(-5%, -12%);
                        img {
                            max-height: 64px;
                        }
                    }
                    .now-showing-item-premiere-soon {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                        text-align: center;
                        @include styleText($color-white-0, $fs-1, $fw-bold-4);
                        background-color: $color-red-1;
                        border-radius: 4px;
                        display: block;
                        padding: 4px 8px;
                        box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
                    }
                }
                .btn-more {
                    @include fontText($font-SFRegular);
                    @include styleText($color-gray-2, $fs-3, $fw-normal);
                    border: 1px solid $color-gray-2;
                    border-radius: 4px;
                    background: 0 0;
                    padding: 7px 25px;
                    transition: all 0.2s;
                    margin: auto;
                    margin-bottom: 20px;
                    display: block;
                    &:hover {
                        background-color: #fb4226;
                        border-color: #fb4226;
                        color: #fff !important;
                    }
                }
            }
        }
        #coming-soon {
            position: relative;
            .coming-soon-lg {
                .movieList-carousel-items {
                    .item-carousel {
                        .item-content {
                            position: relative;
                            transition: all 0.2s;
                            .item-img {
                                position: relative;
                                img {
                                    margin-bottom: $mg-1;
                                    border-radius: 4px;
                                }
                                .bg-under {
                                    opacity: 0;
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    border-radius: 4px;
                                    background: linear-gradient(to top, #000, transparent 100%);
                                    .carousel__playVideo {
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        .icon-play {
                                            i {
                                                font-size: $fs-3 + 1;
                                                color: $color-white-0;
                                                border: solid 1px $color-white-0;
                                                border-radius: 50%;
                                                padding: $pd-2 $pd-2 $pd-2 $pd-2 + 4;
                                                font-weight: bold;
                                            }
                                        }
                                    }
                                }
                            }
                            .item-text {
                                .name-text {
                                    @include fontText($font-SFMedium);
                                    @include styleText($color-black-0, $fs-4, $fw-normal);
                                    height: 42px;
                                    max-height: 42px;
                                    line-height: $line-height-0 - 3;
                                    margin-bottom: 0;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    span {
                                        @include styleText($color-white-0, $fs-3, $fw-normal);
                                        background-color: $color-red-1;
                                        border-radius: 4px;
                                        padding: 0 5px;
                                        text-align: center;
                                        display: inline-block;
                                        margin-right: $mg-1 - 2;
                                    }
                                }
                                .time-text {
                                    @include styleText($color-gray-1$color-black-0, $fs-2, $fw-normal);
                                    margin-bottom: 1$mg-1 + 5;
                                    margin-top: $mg-1 - 2;
                                }
                            }
                            .item-rating {
                                @include fontText($font-SFMedium);
                                @include styleText($color-white-0, $fs-4, $fw-normal);
                                position: absolute;
                                top: 3%;
                                right: 5%;
                                text-align: center;
                                width: 54px;
                                background-color: $bg-color-blue-8;
                                border: 1px solid #1f2e46;
                                border-radius: 4px;
                                line-height: 1.1;
                                padding: 0 2px;
                                .list-start {
                                    margin: 0 !important;
                                    text-align: center;
                                    display: flex;
                                    justify-content: center;
                                    .smallStart {
                                        max-width: 8px;
                                        margin-bottom: 5px;
                                    }
                                }
                                .text-rating {
                                    margin-bottom: 5px;
                                    margin-top: 4px;
                                    transform: scaleY(1.2);
                                    @include styleText($color-white-0, $fs-4, $fw-normal);
                                }
                            }
                            .movie-type {
                                position: absolute;
                                top: -5%;
                                left: -4%;
                                width: 80%;
                                pointer-events: none;
                                overflow: hidden;
                                transform: translate(-5%, -12%);
                                max-width: 150px;
                            }
                            .text-under {
                                opacity: 0;
                                position: absolute;
                                bottom: 7%;
                                width: 100%;
                                height: 12%;
                                border-radius: 4px;
                                text-align: center;
                                padding: 10px 0;
                                transition: all 0.2s;
                                background: linear-gradient(to left, $color-red-1, $color-red-3 100%);
                                p {
                                    @include styleText($color-white-0, $fs-4 + 2, $fw-normal);
                                }
                                &:hover {
                                    background: $color-red-1;
                                }
                            }
                            .premiere-soon {
                                position: absolute;
                                right: 10px;
                                bottom: 89px;
                                text-align: center;
                                @include styleText($color-white-0, $fs-1, $fw-bold-4);
                                background-color: $color-red-1;
                                border-radius: 4px;
                                display: block;
                                padding: 4px 8px;
                                box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.3);
                            }
                            &:hover {
                                .bg-under {
                                    opacity: 1;
                                }
                                .text-under {
                                    opacity: 1;
                                }
                                .item-text {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
                .movie-list-pev {
                    position: absolute;
                    top: 40%;
                    left: -8%;
                    width: 50px;
                    height: 54px;
                    z-index: 2;
                    opacity: 0.5;
                    img {
                        height: 100%;
                    }
                }
                .movie-list-next {
                    position: absolute;
                    top: 40%;
                    right: -8%;
                    width: 50px;
                    height: 54px;
                    z-index: 2;
                    opacity: 0.5;
                    img {
                        height: 100%;
                    }
                }
                .owl-dots {
                    display: none;
                }
            }
            .coming-soon-md {
                display: none;
                .coming-soon-item {
                    position: relative;
                    margin-top: $mg-2;
                    padding-right: $pd-1 - 3;
                    img {
                        border-radius: 4px;
                        height: 460px;
                    }
                    span {
                        position: absolute;
                        left: 24px;
                        bottom: 7px;
                        text-align: center;
                        @include styleText($color-white-0, $fs-3, $fw-normal);
                        color: #fff;
                        font-weight: normal;
                        background-color: $color-green-1;
                        border-radius: 4px;
                        width: 35px;
                        display: block;
                    }
                    p {
                        position: absolute;
                        bottom: 8px;
                        right: 30px;
                        text-align: center;
                        @include styleText($color-white-0, $fs-4, $fw-normal);
                        border-radius: 4px;
                        background-color: rgba(12, 27, 54, 0.8);
                        border: 1px solid #1f2e46;
                        margin-bottom: 0;
                    }
                }
                .btn-more {
                    @include fontText($font-SFRegular);
                    @include styleText($color-gray-2, $fs-3, $fw-normal);
                    border: 1px solid $color-gray-2;
                    border-radius: 4px;
                    background: 0 0;
                    padding: 7px 25px;
                    transition: all 0.2s;
                    margin: auto;
                    margin-bottom: 20px;
                    display: block;
                    &:hover {
                        background-color: #fb4226;
                        border-color: #fb4226;
                        color: #fff !important;
                    }
                }
            }
        }
    }

    .movieList-table {
        margin-bottom: $mg-6;
        .inemaComplex {
            background-image: url(../assets/img/img-news/back-news.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top;
            height: $height-3;
        }

        .movieList-content {
            border: $border;
            .movie-layout-table {
                max-height: $height-4;
                .icon-cinemas {
                    max-width: 10%;
                    max-height: $height-4;
                    padding: 0;
                    border-right: $border;
                    ul {
                        .nav-item {
                            margin: $mg-2 $mg-2 0 $mg-2;
                            border-bottom: $border;
                            .nav-link {
                                padding: 0;
                                opacity: 60%;
                                img {
                                    width: 100%;
                                    margin-bottom: $mg-4 + 1;
                                }
                            }
                            .nav-link.active {
                                opacity: 1;
                            }
                            &:hover {
                                .nav-link {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                .intro-cinemas {
                    max-height: $height-4;
                    border-right: $border;
                    padding: 0;
                    ul {
                        .nav-item {
                            margin: 0;
                            padding: $pd-2 $pd-2 0 $pd-2;
                            max-width: 100%;
                            opacity: 60%;
                            .nav-table {
                                border-bottom: $border;
                                .img-cinema {
                                    padding-left: 0;
                                    padding-right: $pd-6 - 2;
                                    .nav-link {
                                        padding: 0;
                                        img {
                                            width: 100%;
                                        }
                                    }
                                }
                                .content-cinema {
                                    padding: 0 0 $pd-1 0;
                                    p {
                                        margin: 0;
                                        @include styleText($color-black-0, $fs-3, $fw-normal);
                                        span {
                                            @include styleText($color-green-0, $fs-4, $fw-bold-0);
                                            display: inline-block !important;
                                        }
                                    }
                                    .local-cinema {
                                        display: block;
                                        max-width: 95%;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        @include styleText($color-gray-2, $fs-1, $fw-normal);
                                    }
                                    .details-cinema {
                                        a {
                                            display: block;
                                            @include styleText($color-red-1, $fs-1, $fw-normal);
                                        }
                                    }
                                }
                            }
                            &:hover {
                                opacity: 1;
                            }
                        }
                        .nav-item.active {
                            opacity: 1;
                        }
                    }
                }
                .showTime-cinemas {
                    overflow-y: scroll;
                    max-height: $height-4;
                    min-width: 531px;
                    padding: 0;
                    .nav-table {
                        padding-left: $pd-2 - 2;
                        padding-right: $pd-1 + 2;
                        .nav-item {
                            border-bottom: $border;
                            padding-top: $pd-6;
                            width: 100%;
                            .nav-movie-title {
                                margin: 0 0 $mg-4 0;
                                .img-movie {
                                    padding: 0;
                                    max-width: 60px;
                                    .nav-link {
                                        padding: 0 $pd-0 0 0;
                                        height: 100%;
                                        img {
                                            display: block;
                                            width: 100%;
                                        }
                                    }
                                }
                                .content-movie {
                                    padding-top: $pd-0;
                                    padding-right: 0;
                                    max-width: 85%;
                                    p {
                                        margin: 0;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        @include fontText($font-SFMedium);
                                        @include styleText($color-black-0, $fs-3, $fw-bold-2);
                                        span {
                                            border: $border;
                                            @include styleText($color-white-0, $fs-1, $fw-normal);
                                            background-color: $color-red-1;
                                            border-radius: 4px;
                                            padding: $pd-0 - 2 $pd-0 + 1;
                                            margin-right: $mg-0;
                                            display: inline-block;
                                        }
                                    }
                                    .detail-movie {
                                        display: block;
                                        overflow: hidden;
                                        white-space: nowrap;
                                        text-overflow: ellipsis;
                                        @include styleText($color-gray-2, $fs-1, $fw-normal);
                                    }
                                }
                            }
                            .movie-type {
                                @include fontText($font-SFMedium);
                                @include styleText($color-black-0, $fs-4, $fw-bold-2);
                                display: block;
                                margin: 0 0 $mg-0 0;
                            }
                            .nav-show-times {
                                padding: $pd-1 0;
                                margin: 0;
                                .time-item {
                                    padding: 0;
                                    transition: all 0.2s;
                                    margin-bottom: $mg-5;
                                    a {
                                        border: $border;
                                        border-radius: 7px;
                                        padding: $pd-1 + 1 $pd-1 - 3;
                                        text-decoration: none;
                                        border: 1px solid $color-gray-5;
                                        background-color: rgba(246, 246, 246, 0.5);
                                        @include styleText($color-gray-0, $fs-3, $fw-bold-3);
                                        .start-time {
                                            @include fontText($font-SFMedium);
                                            @include styleText($color-green-1, $fs-4 + 2, $fw-bold-2);
                                        }
                                    }
                                    &:hover {
                                        .start-time {
                                            color: $color-red-1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &::-webkit-scrollbar {
                        width: 4px;
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: $color-gray-4;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
}
/*================== responsive movie list ==================*/
@include responsive("medium") {
    .movieList {
        #myTabContent {
            #now-showing {
                .now-showing-lg {
                    display: none;
                }
                .now-showing-md {
                    display: block;
                }
            }
            #coming-soon {
                .coming-soon-lg {
                    display: none;
                }
                .coming-soon-md {
                    display: block;
                }
            }
        }
        .movieList-table {
            display: none;
        }
    }
}

@media screen and (max-width: 1040px) {
    .movieList {
        #myTabContent {
            #now-showing {
                .now-showing-lg {
                    .movie-list-prev {
                        display: none;
                    }
                    .movie-list-next {
                        display: none;
                    }
                }
            }
            #coming-soon {
                .coming-soon-lg {
                    .movie-list-prev {
                        display: none;
                    }
                    .movie-list-next {
                        display: none;
                    }
                }
            }
        }
    }
}
